Repository Hack23/euparliamentmonitor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, htmlhint

.lintstagedrc.json:

{
  "src/**/*.ts": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.html": [
    "htmlhint"
  ]
}

chore(release): bump version to v0.7.18
  package-lock.json
  package.json
Due: none

chore(release): bump version to v0.7.19
  package-lock.json
  package.json
Due: none

Add workflow_dispatch trigger to S3 deploy workflow
  .github/workflows/deploy-s3.yml
Due: none

chore(release): bump version to v0.7.20
  docs/index.html
  package-lock.json
  package.json
  scripts/generators/pipeline/fetch-stage.js
  scripts/utils/validate-ep-api.js
Due: htmlhint

Update scorecards.yml for action versions and env
  .github/workflows/scorecards.yml
Due: none

chore(release): bump version to v0.7.21
  package-lock.json
  package.json
Due: none

chore(release): bump version to v0.7.22
  docs/index.html
  package-lock.json
  package.json
Due: htmlhint

chore(release): bump version to v0.7.23
  package-lock.json
  package.json
Due: none

chore(release): bump version to v0.8.0
  docs/index.html
  package-lock.json
  package.json
Due: htmlhint

chore(release): bump version to v0.8.1
  docs/index.html
  package-lock.json
  package.json
Due: htmlhint

feat(i18n): add comprehensive Vietnamese (vi) localization support (fixes #740)
  src/constants/language-articles.ts
Due: eslint --fix, prettier --write

feat(i18n): comprehensive Vietnamese localization for editorial and analysis modules (fixes #740)
  src/constants/language-articles.ts
Due: eslint --fix, prettier --write

chore(release): bump version to v0.8.2
  docs/index.html
  package-lock.json
  package.json
Due: htmlhint

chore(release): bump version to v0.8.3
  docs/index.html
  package-lock.json
  package.json
Due: htmlhint

chore(release): bump version to v0.8.4
  package-lock.json
  package.json
Due: none

chore(release): bump version to v0.8.5
  docs/index.html
  package-lock.json
  package.json
Due: htmlhint

chore(release): bump version to v0.8.7
  docs/index.html
  package-lock.json
  package.json
  scripts/generators/pipeline/analysis-stage.js
Due: htmlhint

chore(release): bump version to v0.8.8
  docs/index.html
  package-lock.json
  package.json
Due: htmlhint

chore(release): bump version to v0.8.9
  docs/index.html
  package-lock.json
  package.json
Due: htmlhint

chore(release): bump version to v0.8.10
  docs/index.html
  package-lock.json
  package.json
Due: htmlhint

chore(release): bump version to v0.8.11
  package-lock.json
  package.json
Due: none
