Repository Hack23/euparliamentmonitor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, htmlhint

.lintstagedrc.json:

{
  "src/**/*.ts": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.html": [
    "htmlhint"
  ]
}

Disable push trigger for S3 deployment workflow
  .github/workflows/deploy-s3.yml
Due: none

chore(release): bump version to v0.9.14
  docs/index.html
  news/2026-03-27-breaking-ja.html
  news/2026-04-11-breaking-157-ja.html
  package-lock.json
  package.json
  political-intelligence.html
  political-intelligence_ar.html
  political-intelligence_da.html
  political-intelligence_de.html
  political-intelligence_es.html
  political-intelligence_fi.html
  political-intelligence_fr.html
  political-intelligence_he.html
  political-intelligence_ja.html
  political-intelligence_ko.html
  political-intelligence_nl.html
  political-intelligence_no.html
  political-intelligence_sv.html
  political-intelligence_zh.html
Due: htmlhint

Update GH_AW_VERSION to v0.74.4
  .github/workflows/compile-agentic-workflows.yml
Due: none

Update gh-aw CLI version to v0.74.4
  .github/workflows/copilot-setup-steps.yml
Due: none

Delete .github/workflows/mcp-probe-daily.yml
  .github/workflows/mcp-probe-daily.yml
Due: none

refactor(aggregator): extract 5 metadata leaf modules (WIP, #2034 stage 3)
  src/aggregator/metadata/artifact-highlight.ts
  src/aggregator/metadata/h1-extractor.ts
  src/aggregator/metadata/heading-rules.ts
  src/aggregator/metadata/lede-extractor.ts
  src/aggregator/metadata/slug.ts
Due: eslint --fix, prettier --write

Update GH_AW_VERSION to v0.74.5
  .github/workflows/compile-agentic-workflows.yml
Due: none

Update gh-aw CLI version to v0.74.5
  .github/workflows/copilot-setup-steps.yml
Due: none

Update GH_AW_VERSION to v0.74.7
  .github/workflows/compile-agentic-workflows.yml
Due: none

Update gh-aw CLI version to v0.74.7
  .github/workflows/copilot-setup-steps.yml
Due: none

Refactor compile-agentic-workflows.yml for clarity and checks
  .github/workflows/compile-agentic-workflows.yml
Due: none

refactor: split ep/client.ts (1889 LOC) into 5 files under 600 LOC each
  src/mcp/ep-mcp-client.ts
  src/mcp/ep/client.ts
  src/mcp/ep/tools-data.ts
  src/mcp/ep/tools-documents.ts
  src/mcp/ep/tools-feeds.ts
  src/mcp/ep/tools-procedures.ts
Due: eslint --fix, prettier --write

Bump gh-aw CLI version to v0.74.8
  .github/workflows/compile-agentic-workflows.yml
Due: none

Update gh-aw CLI version to v0.74.8
  .github/workflows/copilot-setup-steps.yml
Due: none

chore(release): bump version to v0.9.19
  package-lock.json
  package.json
  political-intelligence.html
  political-intelligence_ar.html
  political-intelligence_da.html
  political-intelligence_de.html
  political-intelligence_es.html
  political-intelligence_fi.html
  political-intelligence_fr.html
  political-intelligence_he.html
  political-intelligence_ja.html
  political-intelligence_ko.html
  political-intelligence_nl.html
  political-intelligence_no.html
  political-intelligence_sv.html
  political-intelligence_zh.html
Due: htmlhint

Update gh-aw CLI version to v0.74.9
  .github/workflows/compile-agentic-workflows.yml
Due: none

Update gh-aw CLI version to v0.74.9
  .github/workflows/copilot-setup-steps.yml
Due: none

Update gh-aw CLI version to v0.75.0
  .github/workflows/compile-agentic-workflows.yml
Due: none

Update gh-aw CLI version to v0.75.0
  .github/workflows/copilot-setup-steps.yml
Due: none
