Repository Hack23/euparliamentmonitor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, htmlhint

Update compile-agentic-workflows.yml
  .github/workflows/compile-agentic-workflows.yml
Due: none

chore(release): bump version to v0.8.41
  docs/index.html
  package-lock.json
  package.json
Due: htmlhint

Update GH_AW_VERSION to v0.70.0
  .github/workflows/compile-agentic-workflows.yml
Due: none

chore(release): bump version to v0.8.42
  docs/index.html
  package-lock.json
  package.json
Due: htmlhint

Update GH_AW_VERSION to v0.71.0
  .github/workflows/compile-agentic-workflows.yml
Due: none

chore(release): bump version to v0.8.43
  docs/index.html
  package-lock.json
  package.json
Due: htmlhint

Bump GH_AW_VERSION from v0.71.0 to v0.71.1
  .github/workflows/compile-agentic-workflows.yml
Due: none

chore(release): bump version to v0.8.44
  docs/index.html
  package-lock.json
  package.json
  political-intelligence.html
  political-intelligence_ar.html
  political-intelligence_da.html
  political-intelligence_de.html
  political-intelligence_es.html
  political-intelligence_fi.html
  political-intelligence_fr.html
  political-intelligence_he.html
  political-intelligence_ja.html
  political-intelligence_ko.html
  political-intelligence_nl.html
  political-intelligence_no.html
  political-intelligence_sv.html
  political-intelligence_zh.html
Due: htmlhint

Downgrade GH_AW_VERSION from v0.71.1 to v0.68.3
  .github/workflows/compile-agentic-workflows.yml
Due: none

Add tools section to agentic-workflows documentation
  .github/agents/agentic-workflows.agent.md
Due: prettier --write

fix(gh-aw): move max-continuations under engine: in news-motions.md
  .github/workflows/news-motions.md
Due: prettier --write

fix(gh-aw): move max-continuations under engine: block (breaking, committee-reports, motions, propositions)
  .github/workflows/news-breaking.md
  .github/workflows/news-committee-reports.md
  .github/workflows/news-propositions.md
Due: prettier --write

fix(gh-aw): move max-continuations under engine: block (month-ahead, month-in-review, week-ahead, week-in-review)
  .github/workflows/news-month-ahead.md
  .github/workflows/news-month-in-review.md
  .github/workflows/news-week-ahead.md
  .github/workflows/news-week-in-review.md
Due: prettier --write

Update GH_AW_VERSION to v0.69.3
  .github/workflows/compile-agentic-workflows.yml
Due: none

chore(release): bump version to v0.8.45
  docs/index.html
  package-lock.json
  package.json
Due: htmlhint

Remove lock file normalization and validation step
  .github/workflows/compile-agentic-workflows.yml
Due: none

chore(release): bump version to v0.8.46
  package-lock.json
  package.json
  political-intelligence.html
  political-intelligence_ar.html
  political-intelligence_da.html
  political-intelligence_de.html
  political-intelligence_es.html
  political-intelligence_fi.html
  political-intelligence_fr.html
  political-intelligence_he.html
  political-intelligence_ja.html
  political-intelligence_ko.html
  political-intelligence_nl.html
  political-intelligence_no.html
  political-intelligence_sv.html
  political-intelligence_zh.html
Due: htmlhint

chore(release): bump version to v0.8.47
  docs/index.html
  package-lock.json
  package.json
Due: htmlhint

chore(release): bump version to v0.8.48
  package-lock.json
  package.json
Due: none

chore(release): bump version to v0.8.49
  docs/index.html
  package-lock.json
  package.json
  political-intelligence.html
  political-intelligence_ar.html
  political-intelligence_da.html
  political-intelligence_de.html
  political-intelligence_es.html
  political-intelligence_fi.html
  political-intelligence_fr.html
  political-intelligence_he.html
  political-intelligence_ja.html
  political-intelligence_ko.html
  political-intelligence_nl.html
  political-intelligence_no.html
  political-intelligence_sv.html
  political-intelligence_zh.html
Due: htmlhint

chore(release): bump version to v0.8.50
  package-lock.json
  package.json
  political-intelligence.html
  political-intelligence_ar.html
  political-intelligence_da.html
  political-intelligence_de.html
  political-intelligence_es.html
  political-intelligence_fi.html
  political-intelligence_fr.html
  political-intelligence_he.html
  political-intelligence_ja.html
  political-intelligence_ko.html
  political-intelligence_nl.html
  political-intelligence_no.html
  political-intelligence_sv.html
  political-intelligence_zh.html
Due: htmlhint

chore(release): bump version to v0.8.51
  docs/index.html
  package-lock.json
  package.json
  political-intelligence.html
  political-intelligence_ar.html
  political-intelligence_da.html
  political-intelligence_de.html
  political-intelligence_es.html
  political-intelligence_fi.html
  political-intelligence_fr.html
  political-intelligence_he.html
  political-intelligence_ja.html
  political-intelligence_ko.html
  political-intelligence_nl.html
  political-intelligence_no.html
  political-intelligence_sv.html
  political-intelligence_zh.html
Due: htmlhint

chore(release): bump version to v0.8.52
  docs/index.html
  package-lock.json
  package.json
  political-intelligence.html
  political-intelligence_ar.html
  political-intelligence_da.html
  political-intelligence_de.html
  political-intelligence_es.html
  political-intelligence_fi.html
  political-intelligence_fr.html
  political-intelligence_he.html
  political-intelligence_ja.html
  political-intelligence_ko.html
  political-intelligence_nl.html
  political-intelligence_no.html
  political-intelligence_sv.html
  political-intelligence_zh.html
  scripts/constants/language-ui.js
Due: htmlhint

Update GH_AW_VERSION to v0.71.3
  .github/workflows/compile-agentic-workflows.yml
Due: none

chore(release): bump version to v0.8.53
  docs/index.html
  package-lock.json
  package.json
  political-intelligence.html
  political-intelligence_ar.html
  political-intelligence_da.html
  political-intelligence_de.html
  political-intelligence_es.html
  political-intelligence_fi.html
  political-intelligence_fr.html
  political-intelligence_he.html
  political-intelligence_ja.html
  political-intelligence_ko.html
  political-intelligence_nl.html
  political-intelligence_no.html
  political-intelligence_sv.html
  political-intelligence_zh.html
Due: htmlhint

test: add analysis-constants tests (0% → 100% coverage)
  test/unit/constants/analysis-constants.test.js
Due: none

test: add metadata-utils tests (0% → 100% coverage)
  test/unit/utils/metadata-utils.test.js
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.ts
  prettier --write: (any of: src/**/*.ts) or (any of: *.md)
  htmlhint: any of: *.html
