Repository Hack23/euparliamentmonitor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, htmlhint

chore(release): bump version to v0.8.12
  package-lock.json
  package.json
Due: none

chore(release): bump version to v0.8.13
  docs/index.html
  package-lock.json
  package.json
Due: htmlhint

chore(release): bump version to v0.8.14
  docs/index.html
  package-lock.json
  package.json
Due: htmlhint

Update README with npm version badge
  README.md
Due: prettier --write

chore(release): bump version to v0.8.15
  package-lock.json
  package.json
Due: none

Remove caching steps from copilot-setup workflow
  .github/workflows/copilot-setup-steps.yml
Due: none

chore(release): bump version to v0.8.16
  docs/index.html
  package-lock.json
  package.json
  scripts/generators/news-enhanced.js
Due: htmlhint

chore(release): bump version to v0.8.17
  package-lock.json
  package.json
Due: none

chore(release): bump version to v0.8.18
  docs/index.html
  package-lock.json
  package.json
Due: htmlhint

chore(release): bump version to v0.8.19
  docs/index.html
  package-lock.json
  package.json
Due: htmlhint

chore(release): bump version to v0.8.20
  docs/index.html
  package-lock.json
  package.json
Due: htmlhint

chore(release): bump version to v0.8.21
  docs/index.html
  package-lock.json
  package.json
Due: htmlhint

chore(release): bump version to v0.8.22
  package-lock.json
  package.json
Due: none

chore(release): bump version to v0.8.23
  docs/index.html
  package-lock.json
  package.json
Due: htmlhint

Add gh-aw CLI installation step
  .github/workflows/copilot-setup-steps.yml
Due: none

Delete analysis/2026-04-09 directory
  analysis/2026-04-09/translate/summary.md
Due: prettier --write

Delete analysis/2026-04-08 directory
  analysis/2026-04-08/translate/summary.md
Due: prettier --write

Fix max-patch-size duplication in workflow
  .github/workflows/news-translate.md
Due: prettier --write

Remove duplicate max-patch-size in workflow
  .github/workflows/news-translate.md
Due: prettier --write

Remove gh-aw CLI installation step
  .github/workflows/copilot-setup-steps.yml
Due: none

Clean up comments in copilot-setup-steps.yml
  .github/workflows/copilot-setup-steps.yml
Due: none

Update GH_AW_VERSION to v0.68.1
  .github/workflows/compile-agentic-workflows.yml
Due: none

chore(release): bump version to v0.8.24
  docs/index.html
  package-lock.json
  package.json
Due: htmlhint

chore(release): bump version to v0.8.25
  package-lock.json
  package.json
Due: none

chore(release): bump version to v0.8.26
  docs/index.html
  package-lock.json
  package.json
Due: htmlhint

Path conditions:
  eslint --fix: any of: src/**/*.ts
  prettier --write: (any of: src/**/*.ts) or (any of: *.md)
  htmlhint: any of: *.html
