Repository Hack23/euparliamentmonitor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, htmlhint

.lintstagedrc.json:

{
  "src/**/*.ts": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.html": [
    "htmlhint"
  ]
}

Update gh-aw CLI version to v0.73.0
  .github/workflows/copilot-setup-steps.yml
Due: none

Update GH_AW_VERSION to v0.72.1
  .github/workflows/compile-agentic-workflows.yml
Due: none

Update gh-aw CLI version from v0.73.0 to v0.72.1
  .github/workflows/copilot-setup-steps.yml
Due: none

Update model version from claude-sonnet-4.6 to claude-opus-4.7
  .github/workflows/news-term-outlook.md
Due: prettier --write

Update model version in GitHub workflow
  .github/workflows/news-election-cycle.md
Due: prettier --write

chore(release): bump version to v0.9.2
  docs/index.html
  package-lock.json
  package.json
  political-intelligence.html
  political-intelligence_ar.html
  political-intelligence_da.html
  political-intelligence_de.html
  political-intelligence_es.html
  political-intelligence_fi.html
  political-intelligence_fr.html
  political-intelligence_he.html
  political-intelligence_ja.html
  political-intelligence_ko.html
  political-intelligence_nl.html
  political-intelligence_no.html
  political-intelligence_sv.html
  political-intelligence_zh.html
Due: htmlhint

chore(release): bump version to v0.9.3
  docs/index.html
  package-lock.json
  package.json
  political-intelligence.html
  political-intelligence_ar.html
  political-intelligence_da.html
  political-intelligence_de.html
  political-intelligence_es.html
  political-intelligence_fi.html
  political-intelligence_fr.html
  political-intelligence_he.html
  political-intelligence_ja.html
  political-intelligence_ko.html
  political-intelligence_nl.html
  political-intelligence_no.html
  political-intelligence_sv.html
  political-intelligence_zh.html
Due: htmlhint

chore(release): bump version to v0.9.4
  package-lock.json
  package.json
  political-intelligence.html
  political-intelligence_ar.html
  political-intelligence_da.html
  political-intelligence_de.html
  political-intelligence_es.html
  political-intelligence_fi.html
  political-intelligence_fr.html
  political-intelligence_he.html
  political-intelligence_ja.html
  political-intelligence_ko.html
  political-intelligence_nl.html
  political-intelligence_no.html
  political-intelligence_sv.html
  political-intelligence_zh.html
Due: htmlhint

chore(release): bump version to v0.9.5
  docs/index.html
  package-lock.json
  package.json
  political-intelligence.html
  political-intelligence_ar.html
  political-intelligence_da.html
  political-intelligence_de.html
  political-intelligence_es.html
  political-intelligence_fi.html
  political-intelligence_fr.html
  political-intelligence_he.html
  political-intelligence_ja.html
  political-intelligence_ko.html
  political-intelligence_nl.html
  political-intelligence_no.html
  political-intelligence_sv.html
  political-intelligence_zh.html
Due: htmlhint

Update GH_AW_VERSION to v0.74.0
  .github/workflows/compile-agentic-workflows.yml
Due: none

Update gh-aw CLI version to v0.74.0
  .github/workflows/copilot-setup-steps.yml
Due: none

chore(release): bump version to v0.9.6
  docs/index.html
  package-lock.json
  package.json
  political-intelligence.html
  political-intelligence_ar.html
  political-intelligence_da.html
  political-intelligence_de.html
  political-intelligence_es.html
  political-intelligence_fi.html
  political-intelligence_fr.html
  political-intelligence_he.html
  political-intelligence_ja.html
  political-intelligence_ko.html
  political-intelligence_nl.html
  political-intelligence_no.html
  political-intelligence_sv.html
  political-intelligence_zh.html
  scripts/aggregator/article-metadata.js
Due: htmlhint

Fix REUSE compliance and prettier formatting
  docs/coverage/lcov-report/src/generators/sitemap/rss.ts.html
  docs/coverage/lcov-report/src/generators/sitemap/xml.ts.html
  docs/coverage/src/generators/sitemap/rss.ts.html
  docs/coverage/src/generators/sitemap/xml.ts.html
  docs/test-results/html/coverage/lcov-report/src/generators/sitemap/rss.ts.html
  docs/test-results/html/coverage/lcov-report/src/generators/sitemap/xml.ts.html
  docs/test-results/html/coverage/src/generators/sitemap/rss.ts.html
  docs/test-results/html/coverage/src/generators/sitemap/xml.ts.html
  scripts/generators/sitemap/rss.js
  scripts/generators/sitemap/xml.js
  src/aggregator/analysis-aggregator.ts
  src/generators/sitemap/rss.ts
  src/generators/sitemap/xml.ts
Due: eslint --fix, prettier --write, htmlhint

chore(release): bump version to v0.9.7
  package-lock.json
  package.json
  political-intelligence.html
  political-intelligence_ar.html
  political-intelligence_da.html
  political-intelligence_de.html
  political-intelligence_es.html
  political-intelligence_fi.html
  political-intelligence_fr.html
  political-intelligence_he.html
  political-intelligence_ja.html
  political-intelligence_ko.html
  political-intelligence_nl.html
  political-intelligence_no.html
  political-intelligence_sv.html
  political-intelligence_zh.html
Due: htmlhint

Configure Dependabot for Docker updates
  .github/dependabot.yml
Due: none

Update Node.js version in workflow
  .github/workflows/test-and-report.yml
Due: none

Update Copilot model version to claude-sonnet-4.6
  .github/workflows/news-breaking.md
Due: prettier --write

Update gh-aw CLI version to v0.74.1
  .github/workflows/copilot-setup-steps.yml
Due: none

Update GH_AW_VERSION to v0.74.1
  .github/workflows/compile-agentic-workflows.yml
Due: none

chore(release): bump version to v0.9.8
  docs/index.html
  package-lock.json
  package.json
  political-intelligence.html
  political-intelligence_ar.html
  political-intelligence_da.html
  political-intelligence_de.html
  political-intelligence_es.html
  political-intelligence_fi.html
  political-intelligence_fr.html
  political-intelligence_he.html
  political-intelligence_ja.html
  political-intelligence_ko.html
  political-intelligence_nl.html
  political-intelligence_no.html
  political-intelligence_sv.html
  political-intelligence_zh.html
Due: htmlhint

Update Dependabot schedule to weekly for all packages
  .github/dependabot.yml
Due: none

chore(release): bump version to v0.9.9
  package-lock.json
  package.json
  political-intelligence.html
  political-intelligence_ar.html
  political-intelligence_da.html
  political-intelligence_de.html
  political-intelligence_es.html
  political-intelligence_fi.html
  political-intelligence_fr.html
  political-intelligence_he.html
  political-intelligence_ja.html
  political-intelligence_ko.html
  political-intelligence_nl.html
  political-intelligence_no.html
  political-intelligence_sv.html
  political-intelligence_zh.html
Due: htmlhint

Update GH_AW_VERSION to v0.74.2
  .github/workflows/compile-agentic-workflows.yml
Due: none

Update gh-aw CLI version to v0.74.2
  .github/workflows/copilot-setup-steps.yml
Due: none

chore(release): bump version to v0.9.10
  docs/index.html
  package-lock.json
  package.json
  political-intelligence.html
  political-intelligence_ar.html
  political-intelligence_da.html
  political-intelligence_de.html
  political-intelligence_es.html
  political-intelligence_fi.html
  political-intelligence_fr.html
  political-intelligence_he.html
  political-intelligence_ja.html
  political-intelligence_ko.html
  political-intelligence_nl.html
  political-intelligence_no.html
  political-intelligence_sv.html
  political-intelligence_zh.html
Due: htmlhint

chore(release): bump version to v0.9.11
  package-lock.json
  package.json
  political-intelligence.html
  political-intelligence_ar.html
  political-intelligence_da.html
  political-intelligence_de.html
  political-intelligence_es.html
  political-intelligence_fi.html
  political-intelligence_fr.html
  political-intelligence_he.html
  political-intelligence_ja.html
  political-intelligence_ko.html
  political-intelligence_nl.html
  political-intelligence_no.html
  political-intelligence_sv.html
  political-intelligence_zh.html
Due: htmlhint

chore(release): bump version to v0.9.12
  docs/index.html
  package-lock.json
  package.json
  political-intelligence.html
  political-intelligence_ar.html
  political-intelligence_da.html
  political-intelligence_de.html
  political-intelligence_es.html
  political-intelligence_fi.html
  political-intelligence_fr.html
  political-intelligence_he.html
  political-intelligence_ja.html
  political-intelligence_ko.html
  political-intelligence_nl.html
  political-intelligence_no.html
  political-intelligence_sv.html
  political-intelligence_zh.html
Due: htmlhint

Update GH_AW_VERSION to v0.74.3
  .github/workflows/compile-agentic-workflows.yml
Due: none

Update gh-aw CLI version to v0.74.3
  .github/workflows/copilot-setup-steps.yml
Due: none
