Repository Hack23/euparliamentmonitor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, htmlhint

.lintstagedrc.json:

{
  "src/**/*.ts": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.html": [
    "htmlhint"
  ]
}

Add Dutch (nl) version of 2026-03-02 committee reports article
  news/2026-03-02-committee-reports-nl.html
Due: htmlhint

feat: add Swedish (sv) version of committee reports article
  news/2026-03-02-committee-reports-sv.html
Due: htmlhint

Add Spanish (es) version of 2026-03-02 committee reports article
  news/2026-03-02-committee-reports-es.html
Due: htmlhint

chore: EU Parliament committee-reports articles 2026-03-02
  news/2026-03-02-committee-reports-ar.html
  news/2026-03-02-committee-reports-da.html
  news/2026-03-02-committee-reports-de.html
  news/2026-03-02-committee-reports-en.html
  news/2026-03-02-committee-reports-es.html
  news/2026-03-02-committee-reports-fi.html
  news/2026-03-02-committee-reports-fr.html
  news/2026-03-02-committee-reports-he.html
  news/2026-03-02-committee-reports-ja.html
  news/2026-03-02-committee-reports-ko.html
  news/2026-03-02-committee-reports-nl.html
  news/2026-03-02-committee-reports-no.html
  news/2026-03-02-committee-reports-sv.html
  news/2026-03-02-committee-reports-zh.html
  news/metadata/generation-2026-03-02.json
Due: htmlhint

chore: EU Parliament breaking news articles 2026-03-02
  news/2026-03-02-breaking-ar.html
  news/2026-03-02-breaking-da.html
  news/2026-03-02-breaking-de.html
  news/2026-03-02-breaking-en.html
  news/2026-03-02-breaking-es.html
  news/2026-03-02-breaking-fi.html
  news/2026-03-02-breaking-fr.html
  news/2026-03-02-breaking-he.html
  news/2026-03-02-breaking-ja.html
  news/2026-03-02-breaking-ko.html
  news/2026-03-02-breaking-nl.html
  news/2026-03-02-breaking-no.html
  news/2026-03-02-breaking-sv.html
  news/2026-03-02-breaking-zh.html
Due: htmlhint

chore: EU Parliament committee-reports articles 2026-03-03
  news/2026-03-03-committee-reports-ar.html
  news/2026-03-03-committee-reports-da.html
  news/2026-03-03-committee-reports-de.html
  news/2026-03-03-committee-reports-en.html
  news/2026-03-03-committee-reports-es.html
  news/2026-03-03-committee-reports-fi.html
  news/2026-03-03-committee-reports-fr.html
  news/2026-03-03-committee-reports-he.html
  news/2026-03-03-committee-reports-ja.html
  news/2026-03-03-committee-reports-ko.html
  news/2026-03-03-committee-reports-nl.html
  news/2026-03-03-committee-reports-no.html
  news/2026-03-03-committee-reports-sv.html
  news/2026-03-03-committee-reports-zh.html
Due: htmlhint

chore: add EU Parliament motions articles 2026-03-03
  news/2026-03-03-motions-ar.html
  news/2026-03-03-motions-da.html
  news/2026-03-03-motions-de.html
  news/2026-03-03-motions-en.html
  news/2026-03-03-motions-es.html
  news/2026-03-03-motions-fi.html
  news/2026-03-03-motions-fr.html
  news/2026-03-03-motions-he.html
  news/2026-03-03-motions-ja.html
  news/2026-03-03-motions-ko.html
  news/2026-03-03-motions-nl.html
  news/2026-03-03-motions-no.html
  news/2026-03-03-motions-sv.html
  news/2026-03-03-motions-zh.html
Due: htmlhint

chore(release): bump version to v0.7.3
  docs/index.html
  package-lock.json
  package.json
Due: htmlhint

chore: EU Parliament breaking news articles 2026-03-03
  news/2026-03-03-breaking-ar.html
  news/2026-03-03-breaking-ar.html.license
  news/2026-03-03-breaking-da.html
  news/2026-03-03-breaking-da.html.license
  news/2026-03-03-breaking-de.html
  news/2026-03-03-breaking-de.html.license
  news/2026-03-03-breaking-en.html
  news/2026-03-03-breaking-en.html.license
  news/2026-03-03-breaking-es.html
  news/2026-03-03-breaking-es.html.license
  news/2026-03-03-breaking-fi.html
  news/2026-03-03-breaking-fi.html.license
  news/2026-03-03-breaking-fr.html
  news/2026-03-03-breaking-fr.html.license
  news/2026-03-03-breaking-he.html
  news/2026-03-03-breaking-he.html.license
  news/2026-03-03-breaking-ja.html
  news/2026-03-03-breaking-ja.html.license
  news/2026-03-03-breaking-ko.html
  news/2026-03-03-breaking-ko.html.license
  news/2026-03-03-breaking-nl.html
  news/2026-03-03-breaking-nl.html.license
  news/2026-03-03-breaking-no.html
  news/2026-03-03-breaking-no.html.license
  news/2026-03-03-breaking-sv.html
  news/2026-03-03-breaking-sv.html.license
  news/2026-03-03-breaking-zh.html
  news/2026-03-03-breaking-zh.html.license
Due: htmlhint

chore(release): bump version to v0.7.4
  docs/index.html
  package-lock.json
  package.json
Due: htmlhint

chore: add EU Parliament committee-reports articles 2026-03-04
  news/2026-03-04-committee-reports-ar.html
  news/2026-03-04-committee-reports-da.html
  news/2026-03-04-committee-reports-de.html
  news/2026-03-04-committee-reports-en.html
  news/2026-03-04-committee-reports-es.html
  news/2026-03-04-committee-reports-fi.html
  news/2026-03-04-committee-reports-fr.html
  news/2026-03-04-committee-reports-he.html
  news/2026-03-04-committee-reports-ja.html
  news/2026-03-04-committee-reports-ko.html
  news/2026-03-04-committee-reports-nl.html
  news/2026-03-04-committee-reports-no.html
  news/2026-03-04-committee-reports-sv.html
  news/2026-03-04-committee-reports-zh.html
Due: htmlhint

chore: EU Parliament propositions articles 2026-03-04
  news/2026-03-04-propositions-ar.html
  news/2026-03-04-propositions-da.html
  news/2026-03-04-propositions-de.html
  news/2026-03-04-propositions-en.html
  news/2026-03-04-propositions-es.html
  news/2026-03-04-propositions-fi.html
  news/2026-03-04-propositions-fr.html
  news/2026-03-04-propositions-he.html
  news/2026-03-04-propositions-ja.html
  news/2026-03-04-propositions-ko.html
  news/2026-03-04-propositions-nl.html
  news/2026-03-04-propositions-no.html
  news/2026-03-04-propositions-sv.html
  news/2026-03-04-propositions-zh.html
Due: htmlhint

chore: EU Parliament motions articles 2026-03-04
  news/2026-03-04-motions-ar.html
  news/2026-03-04-motions-da.html
  news/2026-03-04-motions-de.html
  news/2026-03-04-motions-en.html
  news/2026-03-04-motions-es.html
  news/2026-03-04-motions-fi.html
  news/2026-03-04-motions-fr.html
  news/2026-03-04-motions-he.html
  news/2026-03-04-motions-ja.html
  news/2026-03-04-motions-ko.html
  news/2026-03-04-motions-nl.html
  news/2026-03-04-motions-no.html
  news/2026-03-04-motions-sv.html
  news/2026-03-04-motions-zh.html
Due: htmlhint

chore: EU Parliament breaking news 2026-03-04
  news/2026-03-04-breaking-ar.html
  news/2026-03-04-breaking-da.html
  news/2026-03-04-breaking-de.html
  news/2026-03-04-breaking-en.html
  news/2026-03-04-breaking-es.html
  news/2026-03-04-breaking-fi.html
  news/2026-03-04-breaking-fr.html
  news/2026-03-04-breaking-he.html
  news/2026-03-04-breaking-ja.html
  news/2026-03-04-breaking-ko.html
  news/2026-03-04-breaking-nl.html
  news/2026-03-04-breaking-no.html
  news/2026-03-04-breaking-sv.html
  news/2026-03-04-breaking-zh.html
Due: htmlhint

chore: EU Parliament committee-reports articles 2026-03-04
  news/2026-03-04-committee-reports-ar.html
  news/2026-03-04-committee-reports-da.html
  news/2026-03-04-committee-reports-de.html
  news/2026-03-04-committee-reports-en.html
  news/2026-03-04-committee-reports-es.html
  news/2026-03-04-committee-reports-fi.html
  news/2026-03-04-committee-reports-fr.html
  news/2026-03-04-committee-reports-he.html
  news/2026-03-04-committee-reports-ja.html
  news/2026-03-04-committee-reports-ko.html
  news/2026-03-04-committee-reports-nl.html
  news/2026-03-04-committee-reports-no.html
  news/2026-03-04-committee-reports-sv.html
  news/2026-03-04-committee-reports-zh.html
Due: htmlhint

chore: remove unused MCP server configurations from agent files
  .github/agents/business-development-specialist.md
  .github/agents/data-pipeline-specialist.md
  .github/agents/devops-engineer.md
  .github/agents/documentation-architect.md
  .github/agents/frontend-specialist.md
  .github/agents/intelligence-operative.md
  .github/agents/marketing-specialist.md
  .github/agents/news-journalist.md
  .github/agents/product-task-agent.md
  .github/agents/quality-engineer.md
  .github/agents/security-architect.md
Due: prettier --write

feat: Enhance article strategies with EP feed data integration
  .github/aw/actions-lock.json
  scripts/generators/news-indexes.js
  scripts/generators/pipeline/fetch-stage.js
  scripts/generators/strategies/breaking-news-strategy.js
  scripts/generators/strategies/committee-reports-strategy.js
  scripts/generators/strategies/month-ahead-strategy.js
  scripts/generators/strategies/monthly-review-strategy.js
  scripts/generators/strategies/motions-strategy.js
  scripts/generators/strategies/propositions-strategy.js
  scripts/generators/strategies/week-ahead-strategy.js
  scripts/generators/strategies/weekly-review-strategy.js
  src/generators/pipeline/fetch-stage.ts
  src/generators/strategies/breaking-news-strategy.ts
  src/generators/strategies/committee-reports-strategy.ts
  src/generators/strategies/month-ahead-strategy.ts
  src/generators/strategies/monthly-review-strategy.ts
  src/generators/strategies/motions-strategy.ts
  src/generators/strategies/propositions-strategy.ts
  src/generators/strategies/week-ahead-strategy.ts
  src/generators/strategies/weekly-review-strategy.ts
  src/types/index.ts
  src/types/mcp.ts
  src/types/parliament.ts
  test/unit/article-strategies.test.js
  test/unit/pipeline-stages.test.js
Due: eslint --fix, prettier --write

feat: Update data pipeline specialist and news journalist documentation to include EP feed endpoints
  .github/agents/data-pipeline-specialist.md
  .github/agents/news-journalist.md
  test/unit/article-strategies.test.js
Due: prettier --write

feat: add deep political analysis section generator and corresponding unit tests
  scripts/constants/language-articles.js
  scripts/constants/languages.js
  scripts/generators/analysis-builders.js
  scripts/generators/deep-analysis-content.js
  scripts/generators/strategies/breaking-news-strategy.js
  scripts/generators/strategies/committee-reports-strategy.js
  scripts/generators/strategies/month-ahead-strategy.js
  scripts/generators/strategies/monthly-review-strategy.js
  scripts/generators/strategies/motions-strategy.js
  scripts/generators/strategies/propositions-strategy.js
  scripts/generators/strategies/week-ahead-strategy.js
  scripts/generators/strategies/weekly-review-strategy.js
  src/constants/language-articles.ts
  src/constants/languages.ts
  src/generators/analysis-builders.ts
  src/generators/deep-analysis-content.ts
  src/generators/strategies/breaking-news-strategy.ts
  src/generators/strategies/committee-reports-strategy.ts
  src/generators/strategies/month-ahead-strategy.ts
  src/generators/strategies/monthly-review-strategy.ts
  src/generators/strategies/motions-strategy.ts
  src/generators/strategies/propositions-strategy.ts
  src/generators/strategies/week-ahead-strategy.ts
  src/generators/strategies/weekly-review-strategy.ts
  src/types/common.ts
  src/types/index.ts
  styles.css
  test/unit/deep-analysis.test.js
Due: eslint --fix, prettier --write

feat: update european-parliament-mcp-server to version 1.1.2 across workflows and documentation
  .github/copilot-mcp.json
  .github/workflows/README.md
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/news-article-generator.lock.yml
  .github/workflows/news-article-generator.md
  .github/workflows/news-breaking.lock.yml
  .github/workflows/news-breaking.md
  .github/workflows/news-committee-reports.lock.yml
  .github/workflows/news-committee-reports.md
  .github/workflows/news-month-ahead.lock.yml
  .github/workflows/news-month-ahead.md
  .github/workflows/news-monthly-review.lock.yml
  .github/workflows/news-monthly-review.md
  .github/workflows/news-motions.lock.yml
  .github/workflows/news-motions.md
  .github/workflows/news-propositions.lock.yml
  .github/workflows/news-propositions.md
  .github/workflows/news-week-ahead.lock.yml
  .github/workflows/news-week-ahead.md
  .github/workflows/news-weekly-review.lock.yml
  .github/workflows/news-weekly-review.md
  package.json
Due: prettier --write

feat: add article validation tools and localized keyword support
  package.json
  src/constants/language-articles.ts
  src/constants/languages.ts
  src/templates/article-template.ts
  src/utils/content-validator.ts
  src/utils/validate-articles.ts
Due: eslint --fix, prettier --write

feat: enhance article HTML generation with options for language, direction, keywords, read time, title, and description
  test/unit/content-validator.test.js
Due: none

feat: implement localized keyword support and enhance article validation tools
  scripts/constants/language-articles.js
  scripts/constants/languages.js
  scripts/templates/article-template.js
  scripts/utils/content-validator.js
  scripts/utils/validate-articles.js
  src/utils/content-validator.ts
  src/utils/validate-articles.ts
Due: eslint --fix, prettier --write

feat: enhance article validation output and improve localized keyword handling
  scripts/constants/language-articles.js
  scripts/utils/validate-articles.js
  src/constants/language-articles.ts
  src/utils/validate-articles.ts
Due: eslint --fix, prettier --write

feat: update og:locale meta tag to use BCP47 format and enhance read-time validation logic
  test/integration/multi-language.test.js
  test/unit/article-template.test.js
  test/unit/content-validator.test.js
Due: none

feat: update european-parliament-mcp-server dependency to version 1.1.2
  package-lock.json
Due: none

fix: resolve Prettier formatting issues and enhance article validation
  scripts/constants/language-articles.js
  scripts/generators/analysis-builders.js
  scripts/generators/deep-analysis-content.js
  scripts/generators/pipeline/fetch-stage.js
  src/constants/language-articles.ts
  src/generators/analysis-builders.ts
  src/generators/deep-analysis-content.ts
  src/generators/pipeline/fetch-stage.ts
  src/generators/strategies/breaking-news-strategy.ts
  src/utils/content-validator.ts
  src/utils/validate-articles.ts
Due: eslint --fix, prettier --write

Update news/2026-03-04-breaking-no.html
  news/2026-03-04-breaking-no.html
Due: htmlhint

chore(release): bump version to v0.7.5
  package-lock.json
  package.json
  scripts/generators/pipeline/fetch-stage.js
Due: none

Update .gitignore to remove test result entries
  .gitignore
Due: none

chore: EU Parliament propositions articles 2026-03-05
  news/2026-03-05-propositions-ar.html
  news/2026-03-05-propositions-da.html
  news/2026-03-05-propositions-de.html
  news/2026-03-05-propositions-en.html
  news/2026-03-05-propositions-es.html
  news/2026-03-05-propositions-fi.html
  news/2026-03-05-propositions-fr.html
  news/2026-03-05-propositions-he.html
  news/2026-03-05-propositions-ja.html
  news/2026-03-05-propositions-ko.html
  news/2026-03-05-propositions-nl.html
  news/2026-03-05-propositions-no.html
  news/2026-03-05-propositions-sv.html
  news/2026-03-05-propositions-zh.html
Due: htmlhint

chore: EU Parliament motions articles 2026-03-05
  news/2026-03-05-motions-ar.html
  news/2026-03-05-motions-da.html
  news/2026-03-05-motions-de.html
  news/2026-03-05-motions-en.html
  news/2026-03-05-motions-es.html
  news/2026-03-05-motions-fi.html
  news/2026-03-05-motions-fr.html
  news/2026-03-05-motions-he.html
  news/2026-03-05-motions-ja.html
  news/2026-03-05-motions-ko.html
  news/2026-03-05-motions-nl.html
  news/2026-03-05-motions-no.html
  news/2026-03-05-motions-sv.html
  news/2026-03-05-motions-zh.html
Due: htmlhint

chore: EU Parliament breaking news 2026-03-05
  news/2026-03-05-breaking-ar.html
  news/2026-03-05-breaking-da.html
  news/2026-03-05-breaking-de.html
  news/2026-03-05-breaking-en.html
  news/2026-03-05-breaking-es.html
  news/2026-03-05-breaking-fi.html
  news/2026-03-05-breaking-fr.html
  news/2026-03-05-breaking-he.html
  news/2026-03-05-breaking-ja.html
  news/2026-03-05-breaking-ko.html
  news/2026-03-05-breaking-nl.html
  news/2026-03-05-breaking-no.html
  news/2026-03-05-breaking-sv.html
  news/2026-03-05-breaking-zh.html
  news/metadata/generation-2026-03-05.json
Due: htmlhint

Revert "chore: EU Parliament motions articles 2026-03-05"
  news/2026-03-05-motions-ar.html
  news/2026-03-05-motions-da.html
  news/2026-03-05-motions-de.html
  news/2026-03-05-motions-en.html
  news/2026-03-05-motions-es.html
  news/2026-03-05-motions-fi.html
  news/2026-03-05-motions-fr.html
  news/2026-03-05-motions-he.html
  news/2026-03-05-motions-ja.html
  news/2026-03-05-motions-ko.html
  news/2026-03-05-motions-nl.html
  news/2026-03-05-motions-no.html
  news/2026-03-05-motions-sv.html
  news/2026-03-05-motions-zh.html
Due: htmlhint
