Repository Hack23/euparliamentmonitor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, htmlhint

.lintstagedrc.json:

{
  "src/**/*.ts": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.html": [
    "htmlhint"
  ]
}

chore(release): bump version to v0.8.27
  package-lock.json
  package.json
Due: none

chore(release): bump version to v0.8.28
  docs/index.html
  package-lock.json
  package.json
Due: htmlhint

Update GH_AW_VERSION to v0.68.2
  .github/workflows/compile-agentic-workflows.yml
Due: none

Change lock file search pattern in workflows
  .github/workflows/compile-agentic-workflows.yml
Due: none

Add shared prompt patterns for EU Parliament Monitor agentic workflows
  .github/prompts/SHARED_PROMPT_PATTERNS.md
Due: prettier --write

fix: update shared patterns reference paths in news weekly review workflow
  .devcontainer/devcontainer.json
  .github/aw/actions-lock.json
  .github/workflows/README.md
  .github/workflows/agentics-maintenance.yml
  .github/workflows/compile-agentic-workflows.yml
  .github/workflows/news-article-generator.lock.yml
  .github/workflows/news-article-generator.md
  .github/workflows/news-breaking.lock.yml
  .github/workflows/news-breaking.md
  .github/workflows/news-committee-reports.lock.yml
  .github/workflows/news-committee-reports.md
  .github/workflows/news-month-ahead.lock.yml
  .github/workflows/news-month-ahead.md
  .github/workflows/news-monthly-review.lock.yml
  .github/workflows/news-monthly-review.md
  .github/workflows/news-motions.lock.yml
  .github/workflows/news-motions.md
  .github/workflows/news-propositions.lock.yml
  .github/workflows/news-propositions.md
  .github/workflows/news-translate.lock.yml
  .github/workflows/news-translate.md
  .github/workflows/news-week-ahead.lock.yml
  .github/workflows/news-week-ahead.md
  .github/workflows/news-weekly-review.lock.yml
  .github/workflows/news-weekly-review.md
Due: prettier --write

chore(release): bump version to v0.8.29
  package-lock.json
  package.json
Due: none

chore(release): bump version to v0.8.30
  docs/index.html
  package-lock.json
  package.json
Due: htmlhint

Update GH_AW_VERSION to v0.68.3
  .github/workflows/compile-agentic-workflows.yml
Due: none

chore(release): bump version to v0.8.31
  docs/index.html
  package-lock.json
  package.json
Due: htmlhint

Update GH_AW_VERSION to v0.68.4
  .github/workflows/compile-agentic-workflows.yml
Due: none

chore(release): bump version to v0.8.32
  package-lock.json
  package.json
Due: none

Update GH_AW_VERSION to v0.68.5
  .github/workflows/compile-agentic-workflows.yml
Due: none

chore(release): bump version to v0.8.33
  docs/index.html
  package-lock.json
  package.json
Due: htmlhint

Update GH_AW_VERSION to v0.68.7
  .github/workflows/compile-agentic-workflows.yml
Due: none

chore(release): bump version to v0.8.34
  docs/index.html
  package-lock.json
  package.json
Due: htmlhint

chore(release): bump version to v0.8.35
  package-lock.json
  package.json
Due: none

chore(release): bump version to v0.8.36
  docs/index.html
  package-lock.json
  package.json
Due: htmlhint

chore(release): bump version to v0.8.37
  package-lock.json
  package.json
Due: none

chore(release): bump version to v0.8.38
  docs/index.html
  package-lock.json
  package.json
Due: htmlhint

chore(release): bump version to v0.8.39
  package-lock.json
  package.json
Due: none

Update GH_AW_VERSION to v0.69.0
  .github/workflows/compile-agentic-workflows.yml
Due: none

chore(release): bump version to v0.8.40
  package-lock.json
  package.json
Due: none

Update GH_AW_VERSION to v0.69.1
  .github/workflows/compile-agentic-workflows.yml
Due: none

Update GH_AW_VERSION to v0.69.2
  .github/workflows/compile-agentic-workflows.yml
Due: none
