Repository Hack23/euparliamentmonitor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, htmlhint

.lintstagedrc.json:

{
  "src/**/*.ts": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.html": [
    "htmlhint"
  ]
}

chore(release): bump version to v0.5.3
  package-lock.json
  package.json
Due: none

Update setup steps in copilot-setup-steps.yml
  .github/workflows/copilot-setup-steps.yml
Due: none

Update .github/workflows/deploy-s3.yml
  .github/workflows/deploy-s3.yml
Due: none

chore(release): bump version to v0.5.4
  docs/index.html
  package-lock.json
  package.json
Due: htmlhint

chore: EU Parliament propositions articles 2026-02-25
  news/2026-02-25-propositions-ar.html
  news/2026-02-25-propositions-da.html
  news/2026-02-25-propositions-de.html
  news/2026-02-25-propositions-en.html
  news/2026-02-25-propositions-es.html
  news/2026-02-25-propositions-fi.html
  news/2026-02-25-propositions-fr.html
  news/2026-02-25-propositions-he.html
  news/2026-02-25-propositions-ja.html
  news/2026-02-25-propositions-ko.html
  news/2026-02-25-propositions-nl.html
  news/2026-02-25-propositions-no.html
  news/2026-02-25-propositions-sv.html
  news/2026-02-25-propositions-zh.html
  news/metadata/generation-2026-02-25.json
Due: htmlhint

chore(release): bump version to v0.5.5
  package-lock.json
  package.json
Due: none

security: enhance ISMS documentation with ISO 27001:2022, NIST CSF 2.0, CIS Controls v8.1 alignment
  BCPPlan.md
  CLASSIFICATION.md
  CRA-ASSESSMENT.md
  End-of-Life-Strategy.md
  FUTURE_SECURITY_ARCHITECTURE.md
  FinancialSecurityPlan.md
  SECURITY_ARCHITECTURE.md
  THREAT_MODEL.md
Due: prettier --write

chore(release): bump version to v0.6.0
  package-lock.json
  package.json
Due: none

chore(release): bump version to v0.6.1
  docs/index.html
  package-lock.json
  package.json
Due: htmlhint

chore: EU Parliament propositions articles 2026-02-26
  news/2026-02-26-propositions-ar.html
  news/2026-02-26-propositions-da.html
  news/2026-02-26-propositions-de.html
  news/2026-02-26-propositions-en.html
  news/2026-02-26-propositions-es.html
  news/2026-02-26-propositions-fi.html
  news/2026-02-26-propositions-fr.html
  news/2026-02-26-propositions-he.html
  news/2026-02-26-propositions-ja.html
  news/2026-02-26-propositions-ko.html
  news/2026-02-26-propositions-nl.html
  news/2026-02-26-propositions-no.html
  news/2026-02-26-propositions-sv.html
  news/2026-02-26-propositions-zh.html
Due: htmlhint

chore: EU Parliament committee-reports articles 2026-02-27
  news/2026-02-27-committee-reports-ar.html
  news/2026-02-27-committee-reports-da.html
  news/2026-02-27-committee-reports-de.html
  news/2026-02-27-committee-reports-en.html
  news/2026-02-27-committee-reports-es.html
  news/2026-02-27-committee-reports-fi.html
  news/2026-02-27-committee-reports-fr.html
  news/2026-02-27-committee-reports-he.html
  news/2026-02-27-committee-reports-ja.html
  news/2026-02-27-committee-reports-ko.html
  news/2026-02-27-committee-reports-nl.html
  news/2026-02-27-committee-reports-no.html
  news/2026-02-27-committee-reports-sv.html
  news/2026-02-27-committee-reports-zh.html
Due: htmlhint

chore: EU Parliament propositions articles 2026-02-27
  news/2026-02-27-propositions-ar.html
  news/2026-02-27-propositions-da.html
  news/2026-02-27-propositions-de.html
  news/2026-02-27-propositions-en.html
  news/2026-02-27-propositions-es.html
  news/2026-02-27-propositions-fi.html
  news/2026-02-27-propositions-fr.html
  news/2026-02-27-propositions-he.html
  news/2026-02-27-propositions-ja.html
  news/2026-02-27-propositions-ko.html
  news/2026-02-27-propositions-nl.html
  news/2026-02-27-propositions-no.html
  news/2026-02-27-propositions-sv.html
  news/2026-02-27-propositions-zh.html
Due: htmlhint

chore: EU Parliament motions articles 2026-02-27
  news/2026-02-27-motions-ar.html
  news/2026-02-27-motions-da.html
  news/2026-02-27-motions-de.html
  news/2026-02-27-motions-en.html
  news/2026-02-27-motions-es.html
  news/2026-02-27-motions-fi.html
  news/2026-02-27-motions-fr.html
  news/2026-02-27-motions-he.html
  news/2026-02-27-motions-ja.html
  news/2026-02-27-motions-ko.html
  news/2026-02-27-motions-nl.html
  news/2026-02-27-motions-no.html
  news/2026-02-27-motions-sv.html
  news/2026-02-27-motions-zh.html
Due: htmlhint

Revert "fix: correct MCP setup in copilot-mcp.json and copilot-setup-steps.yml"
  .github/copilot-mcp.json
  .github/workflows/copilot-setup-steps.yml
Due: none

chore(release): bump version to v0.6.2
  docs/index.html
  package-lock.json
  package.json
Due: htmlhint

chore(release): bump version to v0.6.3
  docs/index.html
  package-lock.json
  package.json
Due: htmlhint

chore: EU Parliament month-ahead articles 2026-02-28
  news/2026-02-28-month-ahead-ar.html
  news/2026-02-28-month-ahead-da.html
  news/2026-02-28-month-ahead-de.html
  news/2026-02-28-month-ahead-en.html
  news/2026-02-28-month-ahead-es.html
  news/2026-02-28-month-ahead-fi.html
  news/2026-02-28-month-ahead-fr.html
  news/2026-02-28-month-ahead-he.html
  news/2026-02-28-month-ahead-ja.html
  news/2026-02-28-month-ahead-ko.html
  news/2026-02-28-month-ahead-nl.html
  news/2026-02-28-month-ahead-no.html
  news/2026-02-28-month-ahead-sv.html
  news/2026-02-28-month-ahead-zh.html
Due: htmlhint

chore: add EU Parliament week-in-review articles 2026-02-28
  news/2026-02-28-week-in-review-ar.html
  news/2026-02-28-week-in-review-da.html
  news/2026-02-28-week-in-review-de.html
  news/2026-02-28-week-in-review-en.html
  news/2026-02-28-week-in-review-es.html
  news/2026-02-28-week-in-review-fi.html
  news/2026-02-28-week-in-review-fr.html
  news/2026-02-28-week-in-review-he.html
  news/2026-02-28-week-in-review-ja.html
  news/2026-02-28-week-in-review-ko.html
  news/2026-02-28-week-in-review-nl.html
  news/2026-02-28-week-in-review-no.html
  news/2026-02-28-week-in-review-sv.html
  news/2026-02-28-week-in-review-zh.html
Due: htmlhint

chore: add EU Parliament month-in-review articles for 2026-02-28
  news/2026-02-28-month-in-review-ar.html
  news/2026-02-28-month-in-review-da.html
  news/2026-02-28-month-in-review-de.html
  news/2026-02-28-month-in-review-en.html
  news/2026-02-28-month-in-review-es.html
  news/2026-02-28-month-in-review-fi.html
  news/2026-02-28-month-in-review-fr.html
  news/2026-02-28-month-in-review-he.html
  news/2026-02-28-month-in-review-ja.html
  news/2026-02-28-month-in-review-ko.html
  news/2026-02-28-month-in-review-nl.html
  news/2026-02-28-month-in-review-no.html
  news/2026-02-28-month-in-review-sv.html
  news/2026-02-28-month-in-review-zh.html
Due: htmlhint

chore(release): bump version to v0.7.0
  package-lock.json
  package.json
Due: none

Add new file 67f6cd62ef12424f9bf5068c504cf7c3.txt
  67f6cd62ef12424f9bf5068c504cf7c3.txt
Due: none

chore: EU Parliament month-ahead articles 2026-03-01
  news/2026-03-01-month-ahead-ar.html
  news/2026-03-01-month-ahead-da.html
  news/2026-03-01-month-ahead-de.html
  news/2026-03-01-month-ahead-en.html
  news/2026-03-01-month-ahead-es.html
  news/2026-03-01-month-ahead-fi.html
  news/2026-03-01-month-ahead-fr.html
  news/2026-03-01-month-ahead-he.html
  news/2026-03-01-month-ahead-ja.html
  news/2026-03-01-month-ahead-ko.html
  news/2026-03-01-month-ahead-nl.html
  news/2026-03-01-month-ahead-no.html
  news/2026-03-01-month-ahead-sv.html
  news/2026-03-01-month-ahead-zh.html
Due: htmlhint

chore(release): bump version to v0.7.1
  docs/index.html
  package-lock.json
  package.json
  rss.xml
  sitemap.html
Due: htmlhint

chore: EU Parliament breaking news articles 2026-03-01
  news/2026-03-01-breaking-ar.html
  news/2026-03-01-breaking-da.html
  news/2026-03-01-breaking-de.html
  news/2026-03-01-breaking-en.html
  news/2026-03-01-breaking-es.html
  news/2026-03-01-breaking-fi.html
  news/2026-03-01-breaking-fr.html
  news/2026-03-01-breaking-he.html
  news/2026-03-01-breaking-ja.html
  news/2026-03-01-breaking-ko.html
  news/2026-03-01-breaking-nl.html
  news/2026-03-01-breaking-no.html
  news/2026-03-01-breaking-sv.html
  news/2026-03-01-breaking-zh.html
  rss.xml
  sitemap.html
  sitemap_ar.html
  sitemap_da.html
  sitemap_de.html
  sitemap_es.html
  sitemap_fi.html
  sitemap_fr.html
  sitemap_he.html
  sitemap_ja.html
  sitemap_ko.html
  sitemap_nl.html
  sitemap_no.html
  sitemap_sv.html
  sitemap_zh.html
Due: htmlhint

chore: EU Parliament committee-reports articles 2026-03-02
  news/2026-03-02-committee-reports-ar.html
  news/2026-03-02-committee-reports-da.html
  news/2026-03-02-committee-reports-de.html
  news/2026-03-02-committee-reports-en.html
  news/2026-03-02-committee-reports-es.html
  news/2026-03-02-committee-reports-fi.html
  news/2026-03-02-committee-reports-fr.html
  news/2026-03-02-committee-reports-he.html
  news/2026-03-02-committee-reports-ja.html
  news/2026-03-02-committee-reports-ko.html
  news/2026-03-02-committee-reports-nl.html
  news/2026-03-02-committee-reports-no.html
  news/2026-03-02-committee-reports-sv.html
  news/2026-03-02-committee-reports-zh.html
Due: htmlhint

chore: EU Parliament propositions articles 2026-03-02
  news/2026-03-02-propositions-ar.html
  news/2026-03-02-propositions-da.html
  news/2026-03-02-propositions-de.html
  news/2026-03-02-propositions-en.html
  news/2026-03-02-propositions-es.html
  news/2026-03-02-propositions-fi.html
  news/2026-03-02-propositions-fr.html
  news/2026-03-02-propositions-he.html
  news/2026-03-02-propositions-ja.html
  news/2026-03-02-propositions-ko.html
  news/2026-03-02-propositions-nl.html
  news/2026-03-02-propositions-no.html
  news/2026-03-02-propositions-sv.html
  news/2026-03-02-propositions-zh.html
Due: htmlhint

chore: EU Parliament motions articles 2026-03-02
  news/2026-03-02-motions-ar.html
  news/2026-03-02-motions-da.html
  news/2026-03-02-motions-de.html
  news/2026-03-02-motions-en.html
  news/2026-03-02-motions-es.html
  news/2026-03-02-motions-fi.html
  news/2026-03-02-motions-fr.html
  news/2026-03-02-motions-he.html
  news/2026-03-02-motions-ja.html
  news/2026-03-02-motions-ko.html
  news/2026-03-02-motions-nl.html
  news/2026-03-02-motions-no.html
  news/2026-03-02-motions-sv.html
  news/2026-03-02-motions-zh.html
Due: htmlhint

chore(release): bump version to v0.7.2
  docs/index.html
  package-lock.json
  package.json
Due: htmlhint

chore: EU Parliament breaking news articles 2026-03-02
  news/2026-03-02-breaking-ar.html
  news/2026-03-02-breaking-da.html
  news/2026-03-02-breaking-de.html
  news/2026-03-02-breaking-en.html
  news/2026-03-02-breaking-es.html
  news/2026-03-02-breaking-fi.html
  news/2026-03-02-breaking-fr.html
  news/2026-03-02-breaking-he.html
  news/2026-03-02-breaking-ja.html
  news/2026-03-02-breaking-ko.html
  news/2026-03-02-breaking-nl.html
  news/2026-03-02-breaking-no.html
  news/2026-03-02-breaking-sv.html
  news/2026-03-02-breaking-zh.html
Due: htmlhint

Add French (fr) version of committee reports article
  news/2026-03-02-committee-reports-fr.html
Due: htmlhint
