Repository Hack23/euparliamentmonitor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, htmlhint

chore(release): bump version to v0.1.0
  docs/index.html
  package-lock.json
  package.json
Due: htmlhint

Update .gitignore to remove coverage and docs entries
  .gitignore
Due: none

Change output directory for TypeDoc documentation
  typedoc.json
Due: none

Update coverage reports directory
  vitest.config.js
Due: none

Modify coverage report paths in copy-test-reports
  src/utils/copy-test-reports.ts
Due: eslint --fix, prettier --write

Replace coverage report copy with API docs copy
  src/utils/copy-test-reports.ts
Due: eslint --fix, prettier --write

Revise Code of Conduct for community standards
  CODE_OF_CONDUCT.md
Due: prettier --write

Delete .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Delete .husky directory
  .husky/pre-commit
Due: none

chore(release): bump version to v0.2.0
  docs/index.html
  package-lock.json
  package.json
  test-results/junit.xml
Due: htmlhint

Delete test-results directory
  test-results/junit.xml
Due: none

Update documentation links in README.md
  README.md
Due: prettier --write

chore(release): bump version to v0.3.0
  package-lock.json
  package.json
  test-results/junit.xml
Due: none

Refactor Web test environment setup steps
  .github/workflows/copilot-setup-steps.yml
Due: none

Update MCP server verification message in workflow
  .github/workflows/copilot-setup-steps.yml
Due: none

Update setup step and clean up dependencies
  .github/workflows/copilot-setup-steps.yml
Due: none

chore(release): bump version to v0.4.0
  docs/index.html
  package-lock.json
  package.json
  test-results/junit.xml
Due: htmlhint

chore: clean up empty code change sections in the changes log
  .gitattributes
  .github/aw/actions-lock.json
  .github/workflows/news-committee-reports.lock.yml
  .github/workflows/news-motions.lock.yml
  .github/workflows/news-propositions.lock.yml
  .github/workflows/news-week-ahead.lock.yml
Due: none

feat: update EU Parliament MCP server to v0.5.1 and extend timeout to 45 minutes for improved reliability
  .github/workflows/news-committee-reports.lock.yml
  .github/workflows/news-committee-reports.md
  .github/workflows/news-motions.lock.yml
  .github/workflows/news-motions.md
  .github/workflows/news-propositions.lock.yml
  .github/workflows/news-propositions.md
  .github/workflows/news-week-ahead.lock.yml
  .github/workflows/news-week-ahead.md
  scripts/mcp/ep-mcp-client.js
  src/mcp/ep-mcp-client.ts
  src/types/index.ts
  test/unit/ep-mcp-client.test.js
Due: eslint --fix, prettier --write

chore: remove outdated news articles and metadata files
  .github/workflows/news-generation.yml
  news/2026-02-19-week-ahead-en.html
  news/2026-02-20-week-ahead-en.html
  news/2026-02-21-week-ahead-en.html
  news/2026-02-23-week-ahead-en.html
  news/articles-metadata.json
  news/metadata/generation-2026-02-19.json
  news/metadata/generation-2026-02-20.json
  news/metadata/generation-2026-02-21.json
Due: htmlhint

Add multilingual support for EU Parliament Monitor
  docs/index.html
  index-ar.html
  index-da.html
  index-de.html
  index-el.html
  index-en.html
  index-fi.html
  index-fr.html
  index-he.html
  index-hu.html
  index-it.html
  index-ja.html
  index-ko.html
  index-nl.html
  index-no.html
  index-pl.html
  index-pt.html
  index-ro.html
  index-sv.html
  index-zh.html
  index.html
  news/articles-metadata.json
  scripts/constants/languages.js
  scripts/generators/news-indexes.js
  scripts/generators/sitemap.js
  scripts/templates/article-template.js
  sitemap.xml
  src/constants/languages.ts
  src/generators/news-indexes.ts
  src/generators/sitemap.ts
  src/templates/article-template.ts
  src/types/index.ts
  styles.css
  test/integration/multi-language.test.js
  test/unit/article-template.test.js
  test/unit/generate-news-indexes.test.js
  test/unit/generate-sitemap.test.js
  test/unit/languages.test.js
Due: eslint --fix, prettier --write, htmlhint

refactor: update language references to be more inclusive across documentation
  .github/agents/intelligence-operative.md
  .github/agents/marketing-specialist.md
  E2ETestPlan.md
  README.md
  SWOT.md
  performance-testing.md
Due: prettier --write

refactor: update language support in workflows to include additional languages and improve validation
  .github/workflows/news-committee-reports.lock.yml
  .github/workflows/news-committee-reports.md
  .github/workflows/news-motions.lock.yml
  .github/workflows/news-motions.md
  .github/workflows/news-propositions.lock.yml
  .github/workflows/news-propositions.md
  .github/workflows/news-week-ahead.lock.yml
  .github/workflows/news-week-ahead.md
Due: prettier --write

Refactor article type handling to use ArticleCategory enum
  AGENT_IMPLEMENTATION_COMPLETE.md
  COMPLETE_STATUS_UPDATE.md
  CUSTOM_AGENTS_FINAL_REPORT.md
  EP_MCP_SERVER_IMPLEMENTATION_COMPLETE.md
  EP_MCP_SERVER_READY.md
  EP_MCP_SERVER_STATUS.md
  FINAL_EP_MCP_IMPLEMENTATION_SUMMARY.md
  FINAL_REPORT.md
  IMPLEMENTATION_SUMMARY.md
  INTEGRATION_COMPLETE.md
  ISMS_SKILLS_INTEGRATION_REPORT.md
  RELEASE_WORKFLOW_IMPLEMENTATION.md
  SECURITY_BADGES_IMPLEMENTATION_COMPLETE.md
  SECURITY_SUMMARY.md
  scripts/constants/config.js
  scripts/constants/languages.js
  scripts/generators/news-enhanced.js
  scripts/generators/news-indexes.js
  scripts/templates/article-template.js
  scripts/types/index.js
  src/constants/config.ts
  src/constants/languages.ts
  src/generators/news-enhanced.ts
  src/generators/news-indexes.ts
  src/templates/article-template.ts
  src/types/index.ts
  test/README.md
  test/fixtures/ep-data.js
  test/integration/mcp-integration.test.js
  test/integration/multi-language.test.js
  test/integration/news-generation.test.js
  test/unit/article-template.test.js
  test/unit/breaking-news.test.js
  test/unit/languages.test.js
  test/unit/propositions.test.js
Due: eslint --fix, prettier --write

chore(release): bump version to v0.5.0
  docs/index.html
  package-lock.json
  package.json
  scripts/constants/languages.js
Due: htmlhint

chore(release): bump version to v0.5.1
  package-lock.json
  package.json
Due: none

chore: EU Parliament week-ahead articles 2026-02-24
  index-ar.html
  index-da.html
  index-de.html
  index-es.html
  index-fi.html
  index-fr.html
  index-he.html
  index-ja.html
  index-ko.html
  index-nl.html
  index-no.html
  index-sv.html
  index-zh.html
  news/2026-02-24-week-ahead-ar.html
  news/2026-02-24-week-ahead-da.html
  news/2026-02-24-week-ahead-de.html
  news/2026-02-24-week-ahead-en.html
  news/2026-02-24-week-ahead-es.html
  news/2026-02-24-week-ahead-fi.html
  news/2026-02-24-week-ahead-fr.html
  news/2026-02-24-week-ahead-he.html
  news/2026-02-24-week-ahead-ja.html
  news/2026-02-24-week-ahead-ko.html
  news/2026-02-24-week-ahead-nl.html
  news/2026-02-24-week-ahead-no.html
  news/2026-02-24-week-ahead-sv.html
  news/2026-02-24-week-ahead-zh.html
  news/articles-metadata.json
  news/metadata/generation-2026-02-24.json
Due: htmlhint

feat: add legislative propositions articles for 2026-02-24 (14 languages)
  index-ar.html
  index-da.html
  index-de.html
  index-es.html
  index-fi.html
  index-fr.html
  index-he.html
  index-ja.html
  index-ko.html
  index-nl.html
  index-no.html
  index-sv.html
  index-zh.html
  index.html
  news/2026-02-24-propositions-ar.html
  news/2026-02-24-propositions-da.html
  news/2026-02-24-propositions-de.html
  news/2026-02-24-propositions-en.html
  news/2026-02-24-propositions-es.html
  news/2026-02-24-propositions-fi.html
  news/2026-02-24-propositions-fr.html
  news/2026-02-24-propositions-he.html
  news/2026-02-24-propositions-ja.html
  news/2026-02-24-propositions-ko.html
  news/2026-02-24-propositions-nl.html
  news/2026-02-24-propositions-no.html
  news/2026-02-24-propositions-sv.html
  news/2026-02-24-propositions-zh.html
  news/articles-metadata.json
  news/metadata/generation-2026-02-24.json
Due: htmlhint

📰 Add motions articles for 2026-02-24 in 14 languages
  index-ar.html
  index-da.html
  index-de.html
  index-es.html
  index-fi.html
  index-fr.html
  index-he.html
  index-ja.html
  index-ko.html
  index-nl.html
  index-no.html
  index-sv.html
  index-zh.html
  index.html
  news/2026-02-24-motions-ar.html
  news/2026-02-24-motions-da.html
  news/2026-02-24-motions-de.html
  news/2026-02-24-motions-en.html
  news/2026-02-24-motions-es.html
  news/2026-02-24-motions-fi.html
  news/2026-02-24-motions-fr.html
  news/2026-02-24-motions-he.html
  news/2026-02-24-motions-ja.html
  news/2026-02-24-motions-ko.html
  news/2026-02-24-motions-nl.html
  news/2026-02-24-motions-no.html
  news/2026-02-24-motions-sv.html
  news/2026-02-24-motions-zh.html
  news/articles-metadata.json
  news/metadata/generation-2026-02-24.json
Due: htmlhint

feat: add committee reports articles for 2026-02-24 (14 languages)
  index-ar.html
  index-da.html
  index-de.html
  index-es.html
  index-fi.html
  index-fr.html
  index-he.html
  index-ja.html
  index-ko.html
  index-nl.html
  index-no.html
  index-sv.html
  index-zh.html
  index.html
  news/2026-02-24-committee-reports-ar.html
  news/2026-02-24-committee-reports-da.html
  news/2026-02-24-committee-reports-de.html
  news/2026-02-24-committee-reports-en.html
  news/2026-02-24-committee-reports-es.html
  news/2026-02-24-committee-reports-fi.html
  news/2026-02-24-committee-reports-fr.html
  news/2026-02-24-committee-reports-he.html
  news/2026-02-24-committee-reports-ja.html
  news/2026-02-24-committee-reports-ko.html
  news/2026-02-24-committee-reports-nl.html
  news/2026-02-24-committee-reports-no.html
  news/2026-02-24-committee-reports-sv.html
  news/2026-02-24-committee-reports-zh.html
  news/articles-metadata.json
  news/metadata/generation-2026-02-24.json
Due: htmlhint

feat: add motions articles for 2026-02-24 (14 languages)
  index-ar.html
  index-da.html
  index-de.html
  index-es.html
  index-fi.html
  index-fr.html
  index-he.html
  index-ja.html
  index-ko.html
  index-nl.html
  index-no.html
  index-sv.html
  index-zh.html
  index.html
  news/2026-02-24-motions-ar.html
  news/2026-02-24-motions-da.html
  news/2026-02-24-motions-de.html
  news/2026-02-24-motions-en.html
  news/2026-02-24-motions-es.html
  news/2026-02-24-motions-fi.html
  news/2026-02-24-motions-fr.html
  news/2026-02-24-motions-he.html
  news/2026-02-24-motions-ja.html
  news/2026-02-24-motions-ko.html
  news/2026-02-24-motions-nl.html
  news/2026-02-24-motions-no.html
  news/2026-02-24-motions-sv.html
  news/2026-02-24-motions-zh.html
  news/articles-metadata.json
  news/metadata/generation-2026-02-24.json
Due: htmlhint

chore(release): bump version to v0.5.2
  package-lock.json
  package.json
Due: none

Update sitemap URL in robots.txt
  robots.txt
Due: none

chore: EU Parliament propositions articles 2026-02-24
  index-ar.html
  index-da.html
  index-de.html
  index-es.html
  index-fi.html
  index-fr.html
  index-he.html
  index-ja.html
  index-ko.html
  index-nl.html
  index-no.html
  index-sv.html
  index-zh.html
  index.html
  news/2026-02-24-propositions-ar.html
  news/2026-02-24-propositions-da.html
  news/2026-02-24-propositions-de.html
  news/2026-02-24-propositions-en.html
  news/2026-02-24-propositions-es.html
  news/2026-02-24-propositions-fi.html
  news/2026-02-24-propositions-fr.html
  news/2026-02-24-propositions-he.html
  news/2026-02-24-propositions-ja.html
  news/2026-02-24-propositions-ko.html
  news/2026-02-24-propositions-nl.html
  news/2026-02-24-propositions-no.html
  news/2026-02-24-propositions-sv.html
  news/2026-02-24-propositions-zh.html
  news/articles-metadata.json
  news/metadata/generation-2026-02-24.json
Due: htmlhint

Path conditions:
  eslint --fix: any of: src/**/*.ts
  prettier --write: (any of: src/**/*.ts) or (any of: *.md)
  htmlhint: any of: *.html
