Repository Hack23/euparliamentmonitor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, htmlhint

.lintstagedrc.json:

{
  "src/**/*.ts": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.html": [
    "htmlhint"
  ]
}

chore: EU Parliament breaking news 2026-03-05
  news/2026-03-05-breaking-ar.html
  news/2026-03-05-breaking-da.html
  news/2026-03-05-breaking-de.html
  news/2026-03-05-breaking-en.html
  news/2026-03-05-breaking-es.html
  news/2026-03-05-breaking-fi.html
  news/2026-03-05-breaking-fr.html
  news/2026-03-05-breaking-he.html
  news/2026-03-05-breaking-ja.html
  news/2026-03-05-breaking-ko.html
  news/2026-03-05-breaking-nl.html
  news/2026-03-05-breaking-no.html
  news/2026-03-05-breaking-sv.html
  news/2026-03-05-breaking-zh.html
Due: htmlhint

chore: add EU Parliament motions articles 2026-03-06
  news/2026-03-06-motions-ar.html
  news/2026-03-06-motions-da.html
  news/2026-03-06-motions-de.html
  news/2026-03-06-motions-en.html
  news/2026-03-06-motions-es.html
  news/2026-03-06-motions-fi.html
  news/2026-03-06-motions-fr.html
  news/2026-03-06-motions-he.html
  news/2026-03-06-motions-ja.html
  news/2026-03-06-motions-ko.html
  news/2026-03-06-motions-nl.html
  news/2026-03-06-motions-no.html
  news/2026-03-06-motions-sv.html
  news/2026-03-06-motions-zh.html
  src/generators/motions-content.ts
  src/generators/strategies/motions-strategy.ts
  src/mcp/mcp-connection.ts
Due: eslint --fix, prettier --write, htmlhint

Add files via upload
  Euparliamentmonitor.png
Due: none

chore(release): bump version to v0.7.7
  docs/index.html
  package-lock.json
  package.json
  scripts/generators/breaking-content.js
  test-results/junit.xml
Due: htmlhint

Add files via upload
  euparliamentmonitor-logo.png
Due: none

chore: EU Parliament breaking news 2026-03-06
  news/2026-03-06-breaking-ar.html
  news/2026-03-06-breaking-da.html
  news/2026-03-06-breaking-de.html
  news/2026-03-06-breaking-en.html
  news/2026-03-06-breaking-es.html
  news/2026-03-06-breaking-fi.html
  news/2026-03-06-breaking-fr.html
  news/2026-03-06-breaking-he.html
  news/2026-03-06-breaking-ja.html
  news/2026-03-06-breaking-ko.html
  news/2026-03-06-breaking-nl.html
  news/2026-03-06-breaking-no.html
  news/2026-03-06-breaking-sv.html
  news/2026-03-06-breaking-zh.html
  news/metadata/generation-2026-03-06.json
Due: htmlhint

chore: EU Parliament week-in-review articles 2026-03-07
  news/2026-03-07-week-in-review-ar.html
  news/2026-03-07-week-in-review-da.html
  news/2026-03-07-week-in-review-de.html
  news/2026-03-07-week-in-review-en.html
  news/2026-03-07-week-in-review-es.html
  news/2026-03-07-week-in-review-fi.html
  news/2026-03-07-week-in-review-fr.html
  news/2026-03-07-week-in-review-he.html
  news/2026-03-07-week-in-review-ja.html
  news/2026-03-07-week-in-review-ko.html
  news/2026-03-07-week-in-review-nl.html
  news/2026-03-07-week-in-review-no.html
  news/2026-03-07-week-in-review-sv.html
  news/2026-03-07-week-in-review-zh.html
  scripts/generators/strategies/weekly-review-strategy.js
  src/generators/strategies/weekly-review-strategy.ts
Due: eslint --fix, prettier --write, htmlhint

chore(release): bump version to v0.7.8
  docs/index.html
  package-lock.json
  package.json
  test-results/junit.xml
Due: htmlhint

Remove git section from copilot-mcp.json
  .github/copilot-mcp.json
Due: none

Update src/generators/pipeline/output-stage.ts
  src/generators/pipeline/output-stage.ts
Due: eslint --fix, prettier --write

chore(release): bump version to v0.7.9
  docs/index.html
  package-lock.json
  package.json
  scripts/generators/pipeline/output-stage.js
  scripts/generators/strategies/committee-reports-strategy.js
  test-results/junit.xml
Due: htmlhint

chore(release): bump version to v0.7.10
  docs/index.html
  package-lock.json
  package.json
  test-results/junit.xml
Due: htmlhint

Update src/generators/pipeline/generate-stage.ts
  src/generators/pipeline/generate-stage.ts
Due: eslint --fix, prettier --write

chore(release): bump version to v0.7.11
  package-lock.json
  package.json
  scripts/generators/pipeline/generate-stage.js
  test-results/junit.xml
Due: none

chore(release): bump version to v0.7.12
  docs/index.html
  package-lock.json
  package.json
  test-results/junit.xml
Due: htmlhint

chore(release): bump version to v0.7.13
  docs/index.html
  package-lock.json
  package.json
  test-results/junit.xml
Due: htmlhint

chore(release): bump version to v0.7.14
  package-lock.json
  package.json
  test-results/junit.xml
Due: none

chore(release): bump version to v0.7.15
  docs/index.html
  package-lock.json
  package.json
  test-results/junit.xml
Due: htmlhint

feat: add stakeholder analysis, AI refinement cycle, and translation fidelity requirements
  .github/workflows/news-translate.md
Due: prettier --write

test via MCP direct
  test_mcp_direct.txt
Due: none

feat: enhance agentic workflows with deep political analysis capabilities
  .github/workflows/news-breaking.md
  .github/workflows/news-translate.md
  .github/workflows/news-weekly-review.md
Due: prettier --write

feat: enhance agentic workflows with deep political analysis capabilities
  WORKFLOWS.md
Due: prettier --write

feat: enhance news-month-ahead.md, news-monthly-review.md with deep political analysis capabilities
  .github/workflows/news-month-ahead.md
  .github/workflows/news-monthly-review.md
Due: prettier --write

feat: enhance news-committee-reports.md with deep political analysis capabilities
  .github/workflows/news-committee-reports.md
Due: prettier --write

feat: enhance news-motions.md with deep political analysis capabilities
  .github/workflows/news-motions.md
Due: prettier --write

feat: enhance news-week-ahead.md with deep political analysis capabilities
  .github/workflows/news-week-ahead.md
Due: prettier --write

feat: enhance news-propositions.md with deep political analysis capabilities
  .github/workflows/news-propositions.md
Due: prettier --write

chore(release): bump version to v0.7.16
  docs/index.html
  package-lock.json
  package.json
  test-results/junit.xml
Due: htmlhint

chore(release): bump version to v0.7.17
  package-lock.json
  package.json
  test-results/junit.xml
Due: none
