Repository Hack23/euparliamentmonitor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, htmlhint

.lintstagedrc.json:

{
  "src/**/*.ts": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.html": [
    "htmlhint"
  ]
}

chore(release): bump version to v1.0.27
  docs/index.html
  package-lock.json
  package.json
  political-intelligence.html
  political-intelligence_ar.html
  political-intelligence_da.html
  political-intelligence_de.html
  political-intelligence_es.html
  political-intelligence_fi.html
  political-intelligence_fr.html
  political-intelligence_he.html
  political-intelligence_ja.html
  political-intelligence_ko.html
  political-intelligence_nl.html
  political-intelligence_no.html
  political-intelligence_sv.html
  political-intelligence_zh.html
  rss_ar.xml
  rss_da.xml
  rss_de.xml
  rss_es.xml
  rss_fi.xml
  rss_fr.xml
  rss_he.xml
  rss_ja.xml
  rss_ko.xml
  rss_nl.xml
  rss_no.xml
  rss_sv.xml
  rss_zh.xml
Due: htmlhint

Revise Section 22 to focus on personalization analysis
  analysis/templates/media-framing-analysis.md
Due: prettier --write

Remove specific reference to SÄPO in flowchart
  analysis/templates/media-framing-analysis.md
Due: prettier --write

Update EP MCP Server version to 1.3.40
  .github/workflows/copilot-setup-steps.yml
Due: none

Update gh-aw CLI version to v0.82.7
  .github/workflows/compile-agentic-workflows.yml
Due: none

Update gh-aw CLI version to v0.82.7
  .github/workflows/copilot-setup-steps.yml
Due: none

Update european-parliament-mcp-server to version 1.3.41
  .github/workflows/copilot-setup-steps.yml
Due: none

Update european-parliament-mcp-server version to 1.3.41
  .github/copilot-mcp.json
Due: none

chore(release): bump version to v1.0.29
  docs/index.html
  package-lock.json
  package.json
  political-intelligence.html
  political-intelligence_ar.html
  political-intelligence_da.html
  political-intelligence_de.html
  political-intelligence_es.html
  political-intelligence_fi.html
  political-intelligence_fr.html
  political-intelligence_he.html
  political-intelligence_ja.html
  political-intelligence_ko.html
  political-intelligence_nl.html
  political-intelligence_no.html
  political-intelligence_sv.html
  political-intelligence_zh.html
  rss_ar.xml
  rss_da.xml
  rss_de.xml
  rss_es.xml
  rss_fi.xml
  rss_fr.xml
  rss_he.xml
  rss_ja.xml
  rss_ko.xml
  rss_nl.xml
  rss_no.xml
  rss_sv.xml
  rss_zh.xml
Due: htmlhint

Update european-parliament-mcp-server version to 1.3.42
  .github/copilot-mcp.json
Due: none

Update european-parliament-mcp-server to version 1.3.42
  .github/workflows/copilot-setup-steps.yml
Due: none

Update european-parliament-mcp-server version to 1.3.43
  .github/copilot-mcp.json
Due: none

Update european-parliament-mcp-server to version 1.3.43
  .github/workflows/copilot-setup-steps.yml
Due: none

chore(release): bump version to v1.0.30
  docs/index.html
  package-lock.json
  package.json
  political-intelligence.html
  political-intelligence_ar.html
  political-intelligence_da.html
  political-intelligence_de.html
  political-intelligence_es.html
  political-intelligence_fi.html
  political-intelligence_fr.html
  political-intelligence_he.html
  political-intelligence_ja.html
  political-intelligence_ko.html
  political-intelligence_nl.html
  political-intelligence_no.html
  political-intelligence_sv.html
  political-intelligence_zh.html
  rss_ar.xml
  rss_da.xml
  rss_de.xml
  rss_es.xml
  rss_fi.xml
  rss_fr.xml
  rss_he.xml
  rss_ja.xml
  rss_ko.xml
  rss_nl.xml
  rss_no.xml
  rss_sv.xml
  rss_zh.xml
Due: htmlhint

[StepSecurity] Apply security best practices
  .github/dependabot.yml
  .github/workflows/e2e.yml
  .github/workflows/test-and-report.yml
Due: none

Remove daily npm update for media API
  .github/dependabot.yml
Due: none

Add CODEOWNERS file with owner @pethers
  CODEOWNERS
Due: none

Update compile-agentic-workflows.yml
  .github/workflows/compile-agentic-workflows.yml
Due: none

Update copilot-setup-steps.yml
  .github/workflows/copilot-setup-steps.yml
Due: none

chore(release): bump version to v1.0.31
  docs/index.html
  package-lock.json
  package.json
  political-intelligence.html
  political-intelligence_ar.html
  political-intelligence_da.html
  political-intelligence_de.html
  political-intelligence_es.html
  political-intelligence_fi.html
  political-intelligence_fr.html
  political-intelligence_he.html
  political-intelligence_ja.html
  political-intelligence_ko.html
  political-intelligence_nl.html
  political-intelligence_no.html
  political-intelligence_sv.html
  political-intelligence_zh.html
  rss_ar.xml
  rss_da.xml
  rss_de.xml
  rss_es.xml
  rss_fi.xml
  rss_fr.xml
  rss_he.xml
  rss_ja.xml
  rss_ko.xml
  rss_nl.xml
  rss_no.xml
  rss_sv.xml
  rss_zh.xml
Due: htmlhint

Update release.yml use app for releas
  .github/workflows/release.yml
Due: none

Update release.yml use app for releas (#2539)
  .github/workflows/release.yml
Due: none

chore(release): bump version to v1.0.32
  package-lock.json
  package.json
  political-intelligence.html
  political-intelligence_ar.html
  political-intelligence_da.html
  political-intelligence_de.html
  political-intelligence_es.html
  political-intelligence_fi.html
  political-intelligence_fr.html
  political-intelligence_he.html
  political-intelligence_ja.html
  political-intelligence_ko.html
  political-intelligence_nl.html
  political-intelligence_no.html
  political-intelligence_sv.html
  political-intelligence_zh.html
  rss_ar.xml
  rss_da.xml
  rss_de.xml
  rss_es.xml
  rss_fi.xml
  rss_fr.xml
  rss_he.xml
  rss_ja.xml
  rss_ko.xml
  rss_nl.xml
  rss_no.xml
  rss_sv.xml
  rss_zh.xml
Due: htmlhint

Update dependabot.yml
  .github/dependabot.yml
Due: none

chore(release): bump version to v1.0.33
  docs/index.html
  package-lock.json
  package.json
  political-intelligence.html
  political-intelligence_ar.html
  political-intelligence_da.html
  political-intelligence_de.html
  political-intelligence_es.html
  political-intelligence_fi.html
  political-intelligence_fr.html
  political-intelligence_he.html
  political-intelligence_ja.html
  political-intelligence_ko.html
  political-intelligence_nl.html
  political-intelligence_no.html
  political-intelligence_sv.html
  political-intelligence_zh.html
  rss_ar.xml
  rss_da.xml
  rss_de.xml
  rss_es.xml
  rss_fi.xml
  rss_fr.xml
  rss_he.xml
  rss_ja.xml
  rss_ko.xml
  rss_nl.xml
  rss_no.xml
  rss_sv.xml
  rss_zh.xml
Due: htmlhint

fix(release): prevent duplicate release runs (#2541)
  .github/workflows/release.yml
  docs/RELEASE_PROCESS.md
Due: prettier --write

Fix Bash shell selection in release version validation (#2542)
  .github/workflows/release.yml
  political-intelligence.html
  political-intelligence_ar.html
  political-intelligence_da.html
  political-intelligence_de.html
  political-intelligence_es.html
  political-intelligence_fi.html
  political-intelligence_fr.html
  political-intelligence_he.html
  political-intelligence_ja.html
  political-intelligence_ko.html
  political-intelligence_nl.html
  political-intelligence_no.html
  political-intelligence_sv.html
  political-intelligence_zh.html
  rss_ar.xml
  rss_da.xml
  rss_de.xml
  rss_es.xml
  rss_fi.xml
  rss_fr.xml
  rss_he.xml
  rss_ja.xml
  rss_ko.xml
  rss_nl.xml
  rss_no.xml
  rss_sv.xml
  rss_zh.xml
Due: htmlhint

Revise Dependabot schedule and labels for GitHub Actions
  .github/dependabot.yml
Due: none

Change Dependabot schedule to daily updates
  .github/dependabot.yml
Due: none

Revise Dependabot schedule and labels for GitHub Actions (#2544)
  .github/dependabot.yml
Due: none

Refactor dependabot configuration for npm and GitHub Actions
  .github/dependabot.yml
Due: none

Refactor dependabot configuration for npm and GitHub Actions (#2545)
  .github/dependabot.yml
Due: none
